<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Items for Sale</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Item List</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Item Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity in cart</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${items.empty}">
            <td>0</td>
        </tr>
        <tr th:each="item : ${items}">
            <th scope="row" th:text="${item.id}"></th>
            <td th:text="${item.name}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${#maps.containsKey(itemsInCart, item.id)}? ${itemsInCart.get(item.id)} : '0'"></td>

            <td>
                <form method="post" th:action="@{/cart(itemId=${item.id})}">
                    <button type="submit" class="link-button">Add</button>
                </form>
                <!--                If item is in itemsInCart, show remove item-->
                <div th:if="${#maps.containsKey(itemsInCart, item.id)}">
                    <form method="post" th:action="@{/cart/remove(itemId=${item.id})}">
                        <button type="submit" class="link-button">Remove</button>
                    </form>
                </div>
            </td>


        </tr>
        </tbody>
    </table>
    <!--    </div>-->
</div>
</body>
</html>