<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
<head>
    <title>Registration</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div align="center">
        <h1>Register New User</h1>
        <br/>
        <form action="#" th:action="@{/register}" th:object="${user}" method="post" class="form">
            <table border="0" cellpadding="10">
                <tr class="form-group">
                    <td>Full Name:</td>
                    <td><input class="form-control" type="text" th:field="*{fullName}" id="fullName"
                               placeholder="Full Name" autofocus="autofocus" required/>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('fullName')}"
                             th:errors="*{fullName}"></div>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>Username:</td>
                    <td><input class="form-control" type="text" th:field="*{username}" id="username"
                               placeholder="Username" required/>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}"
                             th:errors="*{username}"></div>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>Email:</td>
                    <td><input class="form-control" type="email" th:field="*{email}" id="email" placeholder="Email"
                               required/>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}"
                             th:errors="*{email}"></div>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>Password:</td>
                    <td><input class="form-control" type="password" th:field="*{password}" id="password"
                               placeholder="password" required/>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}"
                             th:errors="*{password}"></div>
                    </td>
                </tr>
                <tr class="form-group">
                    <td colspan="2">
                        <button type="submit" class="btn btn-success">Register</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Already registered? <a th:href="@{/login}">Login here</a></span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>